@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Monsieur+La+Doulaise&family=Pacifico&family=Workbench&display=swap');

body {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.viewport {
    width: 75%;
    height: 100%;
    order: 0;
}

.font1 {
    font-family: 'Pacifico', cursive;
}

.font2 {
    font-family: "Great Vibes", cursive;
    text-decoration: none;
}

.font3 {
    font-family: "Workbench", sans-serif;
}

.CertificateBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3vh double black;
    margin: 1vh;
    height: auto;
}

h1 {
    font-size: 4em;
}

h4 {
    font-size: 2em;
}

h1.CertificateName {
    margin: 1vh;
    text-decoration: underline;
}

h2 {
    font-size: 2em;
}

.end {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

img {
    width: 100px;
    height: 100px;
    align-self: center;
    margin-left: 8vh;
}

.signed {
    font-family: 'Monsieur La Doulaise', cursive;
}

.userInputZone {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 25%;
    height: 100vh;
    order: 1;
    background-color: grey;
    border-left: 2vh solid black;
    justify-content: space-around;
}

button {
    height: 20%;
    width: 75%;
    font-size: 7vh;
}

.inputs {
    margin-top: 50px;
    height: 20%;
    width: 75%;
    font-size: 7vh;
}

input.inputs{
    order: 1;
}

section.inputs {
    order: 2;
}

@media print {
.printhide {
    display: none;
}
.viewport {
    width: 100%;
}
h1 {
    align-self: center;
    text-align: center;
}
}